<div class="register-container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="mat-typography form-container">
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="0" fxLayoutAlign="center center">
        <img class="logo" src="/assets/white-logo.png" alt="logo" />
        <h2>Welcome</h2>
        <p>Register a new account</p>
      </div>
      <form [formGroup]="registerForm" (submit)="register()" #form="ngForm">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5">
          <mat-form-field appearance="outline" color="accent" fxFlexFill>
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              type="email"
              placeholder="email"
            />
            <mat-icon matPrefix>mail</mat-icon>
            @if (
              (registerForm.controls.email.dirty || form.submitted) &&
              !registerForm.controls.email.valid
            ) {
              <mat-error>Please provide a valid email</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" color="accent" fxFlexFill>
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hidePassword ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword"
            >
              <mat-icon>{{
                hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-icon matPrefix>lock</mat-icon>
            @if (
              (registerForm.controls.password.dirty || form.submitted) &&
              !registerForm.controls.password.valid
            ) {
              <mat-error>Must be at least 8 characters</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" color="accent" fxFlexFill>
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              formControlName="confirmPassword"
              [type]="hideConfirmPassword ? 'password' : 'text'"
            />
            <button
              mat-icon-button
              matSuffix
              type="button"
              (click)="hideConfirmPassword = !hideConfirmPassword"
              [attr.aria-label]="'Hide confirm password'"
              [attr.aria-pressed]="hideConfirmPassword"
            >
              <mat-icon>{{
                hideConfirmPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            <mat-icon matPrefix>lock</mat-icon>
          </mat-form-field>
          <div fxLayoutAlign="center center" fxFlexFill fxFlex="100">
            @if (
              form.submitted && registerForm.hasError("passwordsDontMatch")
            ) {
              <mat-error class="text">Passwords must match</mat-error>
            }
            @if (registerStatus === RegisterStatus.ERROR) {
              <mat-error class="text"
                >Could not log you in with those details.</mat-error
              >
            }
            @if (registerStatus === RegisterStatus.AUTHENTICATING) {
              <mat-spinner diameter="18" color="accent"></mat-spinner>
            }
          </div>

          <div fxFlexFill>
            <button
              fxFlex="100"
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="registerStatus === RegisterStatus.AUTHENTICATING"
            >
              Register
            </button>
          </div>
        </div>
      </form>
      <div fxLayout="column" fxLayoutGap="0" fxLayoutAlign="center center">
        <p class="text">Already have an account?</p>
        <a mat-button routerLink="/auth/login" color="accent">Sign in</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
