.container {
  margin: 48px 0;
}

.content-container {
  border-radius: 8px;
  background: #1f213a;
  padding: 8px 16px;
}

.content {
  height: 100%
}

.items-container {
  border-radius: 8px 8px 0 0;
  background: #252945;
  padding: 8px 16px;
}

.items-total-container {
  border-radius:  0 0 8px 8px;
  background: #0c0e16;
  padding: 8px 16px;
}

.spinner-container {
  margin: 48px 0;
}
